# Data Collection
yfinance
requests
pandas
numpy
matplotlib
seaborn
ta
pandas-ta
scikit-learn
xgboost
lightgbm
catboost
torch
transformers
tokenizers
accelerate
joblib
python-dotenv
tqdm
scipy
jupyter
ipykernel
fredapi
nltk
